@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");

/** Fonts start **/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Bebas+Neue&family=Fredoka+One&family=Londrina+Outline&family=Permanent+Marker&family=Rubik+Vinyl&family=Unbounded:wght@300;400;500;600;700;800&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap');

/** Fonts end **/

body {
    background-color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/** ------> Preloader start **/

#preloader {
    background: white url(../img/preloader.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1031;
}

/** ------> Preloader end**/

/** ------> NavBar start **/
.bg-nav {
    background: transparent;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
    box-shadow: 0 0 10px 0.5px rgba(47, 47, 47, 0.8);
}

.navbar {
    transition: all 750ms;
}

.navbar-scrolled {
    background: rgba(10, 10, 10, 0.85);
}

nav {
    padding: 3px 0px !important;
}

nav a {
    display: flex;
    align-items: center;
}

nav a i {
    margin-right: 0.25em;
}

#navLogoKouspace {
    width: 48px;
    height: 48px;
    transition: 1s all;
    margin-right: 8px;
    filter: drop-shadow(0 0 2px #989e9f);
}

#navTextKouspace {
    transition: 1s all;
}

#navTextKouspace:hover {
    scale: 1.05;
    filter: brightness(1.05) drop-shadow(0 0 1px black);
    letter-spacing: 0.01em;
}

/** ------> NavBar end **/

/** ------> hero start **/
#main-photo {
    background: url(../img/contact-us.jpg) center;
    background-size: cover;
    padding: 60px 0px;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-50 {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: 0;
}

#main-text {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: white;
    font-size: 1.85vw;
    font-weight: 600;
    z-index: 1;
    position: relative;
    filter: drop-shadow(2px 4px 6px black)
}

#main-text h1 {
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 5.6rem;
    margin-bottom: 0.5em;
}

#main-text p :nth-child(2) {
    margin-left: 3rem;
}

#main-text p :nth-child(4) {
    margin-left: 6.5rem;
}

@media screen and (max-width:768px) {
    #main-text {
        font-size: 2.5vw;
    }

    #main-text p :nth-child(2) {
        margin-left: 2rem !important;
    }

    #main-text p :nth-child(4) {
        margin-left: 5rem !important;
    }
}

@media screen and (max-width:556px) {
    #main-text {
        font-size: 3vw;
    }

    #main-text h1 {
        font-size: 7.5vw;
    }
}

@media screen and (max-width:414px) {
    #main-text {
        font-size: 3.4vw;
    }

    #main-text h1 {
        font-size: 9vw;
    }

    #main-text p :nth-child(2) {
        margin-left: 1.8rem !important;
    }

    #main-text p :nth-child(4) {
        margin-left: 3.9rem !important;
    }

}

/** ------> hero end **/

/** ------> sponsors start**/
#about-us {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-style: italic;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 90%);
    position: relative;
    z-index: 0;
}

.about-us-text {
    margin-right: 0.25rem;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.col-lg-7:has(.about-us-text) {
    display: flex;
    align-items: center;
}

#about-us h1 {
    font-weight: 700;
}

.about-us-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.about-us-photo img {
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 185px;
    height: 160px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 5px;
}

.swiper-slide img {
    display: block;
    width: 80%;
    height: 65%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

/** ------> sponsors end **/

/** ------> support-us start **/
#support-us-main {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 90%);
    position: relative;
    z-index: 0;
}

#supportPhoto {
    background: linear-gradient(105deg, rgba(9, 9, 9, 0.8) 0%, rgba(92, 161, 196, 0.6) 15%, rgba(0, 0, 0, 0.78) 100%), url('../img/contact-us.jpg') bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
    z-index: 0;
    background-attachment: fixed;
}

#support-text {
    padding: 1rem 0rem;
    margin: 0.5rem 0rem;
    color: white;
    width: 100%;
    text-align: center;
}

#support-text h1 {
    margin: 1rem 0rem;
    padding: 1rem 0rem;

}

#support-text a {
    padding: 0.5rem;
    margin: 2rem;
    font-weight: 700;
    font-size: large;
    border-radius: 4px !important;
}

#support-text a.btn {
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/** ------> support-us end**/

/** ------> contact-us start**/
#contact-main {
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.95)
}

.contact-form-main input,
.contact-form-main textarea {
    margin: 1rem 0rem;
}

.contact-header-main {
    padding-top: 0.5rem;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    font-style: italic;
}

.contact-header-main h2 {
    font-weight: 800 !important;
}

.contact-form-main {
    margin-inline: auto;
}

/** ------> contact-us end**/


/** ------> footer start **/

footer a {
    color: white;
    transition: all 500ms;

}

footer a:hover {
    opacity: 1;
    color: rgb(240, 162, 89);
}

.footer {
    padding-block: 0.5rem;
    position: relative;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 90%);
    position: relative;
    z-index: 0;
}

.footer-menu,
.footer-info {
    display: flex;
    height: 100%;
    opacity: 0.75;
    color: white;
}

.footer-info {
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
}

.footer-info li {
    margin: 0.5rem 0rem;
}

.footer-info ul {
    margin-bottom: 0px;
}

.footer-menu {
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.footer-menu li {
    margin: 0.5rem 0rem;
}

.footer-menu li a i {
    margin-right: 5px;

}

#social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#social-media-icons a i {
    text-decoration: none;
    padding: 0rem 0.5rem;
    margin: 0rem 0.5rem;
    color: white;
    opacity: 0.75;
    transition: all 500ms;
}

#social-media-icons a i:hover {
    color: rgb(240, 162, 89);
    transform: scale(1.08);
    opacity: 1;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo :nth-child(1) {
    width: 85%;
}

.copyright-text {
    font-size: 0.6em;
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    opacity: 0.75;
    color: white;
    text-align: center;
}

/** ------> footer end **/

/** ------> Scroll animation start **/

.hidden-left {
    transform: translateX(-40%);
    transition: transform 0.8s, opacity 1s;
    opacity: 0;
    transition-timing-function: cubic-bezier(0, 0.33, 0.02, 0.12);
    transition-delay: 0.1s;
}

.hidden-right {
    transform: translateX(40%);
    transition: transform 0.8s, opacity 1s;
    opacity: 0;
    transition-timing-function: cubic-bezier(0, 0.33, 0.02, 0.12);
}

.hidden-top {
    transform: translateY(-80%);
    transition: transform 0.8s, opacity 1s;
    opacity: 0;
}

.hidden-bottom {
    transform: translateY(70%);
    transition: transform 0.8s, opacity 1s;
    opacity: 0.05;
}

.hidden-z {
    transform: scale(0.6);
    transition: transform 1s, opacity 1s;
    opacity: 0;
}


.show-hidden {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
}


/** ------> Scroll animation end **/
/* ! HOMEPAGE End */

/* ! Rockets Page Start  */
#rockets {
    margin-top: 68px;
}

.rockets-bg-ltr {
    background: linear-gradient(-170deg, #050505 0%, black 74%, #8b8b8b 100%);
    height: 100%;
    min-height: 91vh;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0px 0px 10px 9px rgb(0 0 0);
    display: flex;
    align-items: center;
}

.rockets-bg-rtl {
    background: linear-gradient(170deg, #050505 0%, black 74%, #8b8b8b 100%);
    height: 100%;
    min-height: 91vh;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0px 0px 10px 9px rgb(0 0 0);
    display: flex;
    align-items: center;
}

.rockets-bg-ltr .row,
.rockets-bg-rtl .row {
    color: white;
    justify-content: center;
}

.rockets-bg-rtl .row {
    flex-direction: row-reverse;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 30rem;
}

.front-face,
.back-face {
    backface-visibility: hidden;
    position: absolute;
    transition: 0.9s all;
    width: 100%;
    height: 100%;
}

.front-face {
    background: transparent;
    overflow: hidden;
    padding: 1.5em;
}

.front-face img {
    position: absolute;
}

.back-face {
    transform: rotateY(-90deg);
}

.box:hover .front-face {
    transform: rotateY(180deg);
}

.box:hover .back-face {
    transform: rotateY(0deg);
}

#img-safak {
    top: 30%;
    transform: scale(1.5) rotate(129deg);
    width: 95%;
}

#img-airbender {
    top: 35%;
    transform: scale(1.5) rotate(55deg);
    width: 95%;
}

#img-yadigar {
    top: 35%;
    transform: scale(1.5) rotate(124deg);
    width: 90%;
}

#img-yanki {
    left: 35%;
    transform: scale(1.25) rotate(-35deg);
    height: 90%;
}

.box video {
    border-radius: 1.5em;
    padding: 0.5em;
    margin-top: 0.5em;
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    visibility: hidden;
}

.box:hover video {
    visibility: visible;
}

.rocket-text {
    text-align: center;
}

.rocket-text {
    text-align: center;
}

.rocket-text h1 {
    font-weight: 800;
    padding-bottom: 2rem;
    margin: 1rem;
}

.rocket-text p {
    margin: 1rem;
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
}

@media screen and (max-width: 1200px) {
    #img-yanki {
        top: 7%;
        transform: scale(1.1) rotate(-35deg);
    }
}

@media screen and (max-width: 992px) {
    #img-safak {
        top: 25%;
        transform: scale(1.3) rotate(129deg);
    }

    #img-yadigar {
        transform: scale(1.25) rotate(128deg);
        left: 18%;
    }

    #img-airbender {
        top: 31%;
        transform: scale(1.25) rotate(55deg);
    }
}

@media screen and (max-width: 768px) {
    #img-yadigar {
        top: 40%;
        transform: scale(1.35) rotate(128deg);

    }

    .rocket-text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 575.2px) {
    #img-yadigar {
        top: 40%;
        transform: scale(1.15) rotate(124deg);
    }

    #img-airbender {
        transform: scale(1.05) rotate(55deg);
        top: 29%;
    }

    #img-safak {
        top: 22%;
        transform: scale(1.1) rotate(127deg);
    }

    .rocket-text p {
        font-size: 14px;
        font-weight: 350;
    }
}

@media screen and (max-width: 460px) {

    #img-safak {
        top: 30%;
        transform: scale(1.45) rotate(124deg);
    }

    #img-airbender {
        transform: scale(1.2) rotate(55deg);
        top: 30%;
        height: 45%;
    }

    #img-yadigar {
        top: 35%;
        transform: scale(1.25) rotate(124deg);
        height: 38%;
    }
}


/* ! Rockets Page End  */

/* ! Team Page Start */
@media screen and (min-height: 740px) {

    .team-bg-right,
    .team-bg-left {
        height: 87vh !important;
    }
}

@media screen and (min-height: 900px) {

    .team-bg-right,
    .team-bg-left {
        height: 80vh !important;
    }
}

#team {
    padding: 75px;
    overflow: hidden;
}

.bg-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-attachment: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.team-bg-left,
.team-bg-right {
    position: absolute;
    overflow: hidden;
    background-attachment: fixed;
    height: 100vh;
}

.team-bg-left {
    left: -315px;
}

.team-bg-right {
    right: -160px;
}


#team .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-header {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 0.25rem;
    text-align: center;
    color: rgb(239, 239, 239);
    width: 100%;
    margin-block: 2rem;
}

.team-header h1 {
    font-weight: 700;
    font-size: 6vw;
    letter-spacing: 8px;
}

#team span {
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    filter: brightness(1.2) saturate(1.1) contrast(1.1) drop-shadow(0 0 0.4px #fffdfd);
}

.person-card-box {
    min-width: 19rem;
    height: 100%;
}

.person-card {
    border-radius: 0.5em;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 25rem;
    color: white;
    margin-block: 1rem;
}

.card-front,
.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    transition: 1s all;
    width: 100%;
    height: 100%;
    border: 1.8px solid #06a1e3;
    border-radius: 0.5em;
    box-shadow: 0px 0px 4px 4px #28c6f1;
}

.card-back {
    transform: rotateY(-180deg);
}

.person-card:hover .card-front {
    transform: rotateY(180deg);
}

.person-card:hover .card-back {
    transform: rotateY(0deg);
}

.person-card img {
    border-radius: 1em;
    height: 75%;
    width: 75%;
    max-height: 90%;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 0px 18px 0.8px #0ba9d4de;
}

.unknown-f {
    filter: drop-shadow(0 0 0.5px white);
}

@media screen and (min-width: 920px) {
    .person-card-box {
        max-width: 21rem;
    }
}

@media screen and (max-width: 992px) {
    .team-header h1 {
        font-size: 7.5vw;
    }

}

@media screen and (max-width:556px) {
    .team-header h1 {
        font-size: 2.6rem;
        letter-spacing: 2px;
    }

}

@media screen and (max-width:440px) {
    .team-header h1 {
        font-size: 2.4rem;
        letter-spacing: 1.5px;
    }

}

/* ! Team Page End



/* ! SPONSORS PAGE START */

/** -------> Sponsorship info start **/
#sponsorship-info {
    padding-top: 68px;
    overflow: hidden;
    background: url(../img/Sponsors/sponsorship-bg.jpeg) left center;
    display: flex;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.8);
}

.sponsorship-bg {
    background: url(../img/Sponsors/sponsorship-bg.png) no-repeat center;
    display: flex;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
}

#sponsorship-info .container h1 {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 14px;
    margin-top: 16px;
    letter-spacing: 2px;
    filter: contrast(1.5) brightness(1.5) drop-shadow(0 0 2px black);
    color: aliceblue;
}

.sponsorship-small-icon {
    position: absolute;
    width: 35%;
    height: auto;
    left: -5%;
    bottom: -5%;
    transform: rotate(-30deg);
    z-index: -1;
    filter: opacity(0.8) brightness(0.5);
}

.sponsorship-info-boxes {
    position: relative;
    display: flex !important;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    background: rgba(192, 192, 192, 0.55);
    color: white;
    height: 100%;
    width: 100%;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 12px 1px rgba(47, 47, 47, 0.8);
}

.sponsorship-info ul {
    margin-bottom: 0px;
}


/** -------> Sponsorship info end **/

/** -------> Sponsors start **/
#sponsors {
    position: relative;
    z-index: 0;
    background-color: white;
    padding: 2rem;
    overflow-x: hidden;
}

#sponsors .container .row div {
    margin-top: 8px;
    margin-bottom: 8px;
}

#sponsors .container h1 {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 24px;
    letter-spacing: 10px;
    font-size: 3.6rem;
    filter: brightness(1.5);
    color: rgb(19, 27, 58);
}

#sponsors img {
    width: 80%;
    height: 70%;
    min-width: 48px;
    min-height: 36px;
    margin: 4px;
}

@media screen and (max-width:768px) {
    #sponsors .container h1 {
        font-size: 3rem;
        letter-spacing: 4.5px;
    }
}

@media screen and (max-width:556px) {
    #sponsors .container h1 {
        font-size: 2.5rem;
        letter-spacing: 3.25px;
    }
}

@media screen and (max-width:556px) {
    #sponsors .container h1 {
        font-size: 2.3rem;
        letter-spacing: 1px;
    }
}

/** -------> Sponsors end **/

/* ! Sponsors PAGE END  */

/* ! Contact Page start  */
/** -------> Contact form start **/
.contact-bg {
    background: url(../img/contact/contact-bg.jpg) bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
}

#contact-form {
    padding-top: 75px;
    color: white;
    position: relative;
}

.contact-header {
    text-align: center;
}

.contact-header p {
    padding: 0.5rem;
}

.contact-form {
    margin-left: auto;
    margin-right: auto;
}

.contact-form input,
.contact-form textarea {
    margin: 1rem 0rem;
}

.isim-box {
    display: flex;
    justify-content: space-between;
}

.contact-form form div div:nth-child(1),
.contact-form form div div:nth-child(2) {
    width: 47%;
}

.contact-form form div div:nth-child(1) input,
.contact-form form div div:nth-child(2) input {
    margin: 0px;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button button {
    font-size: 1.25rem;
    font-weight: 700;
    padding-inline: 3rem;
    padding-block: 0.5rem;
}

/** -------> Contact form end**/
/** -------> Social media buttons start **/

#social-media-buttons {
    position: relative;
    margin-block: 3rem;
    overflow: hidden;
}

#social-media-buttons h1 {
    color: white;
    font-weight: 700;
    font-size: 1.75em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 26px;
    font-style: italic;
}

#social-media-buttons .row div {
    margin-block: 0.5rem;
}

#social-media-buttons a {
    border: 1.6px solid #0ecefe;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 100%;
    min-width: 12rem;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
    margin-inline: auto;
}

#social-media-buttons a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2ac4f7;
    border-radius: 0.1em;
    top: 0px;
    left: -101%;
    z-index: -1;
    transform: skew(40deg);
    transition: 1s left;
}

#social-media-buttons a:hover::before {
    left: 70%;
}

#social-media-buttons a:hover span {
    color: white !important;
}

#social-media-buttons a i,
#social-media-buttons a span {
    transition: 0.9s color;
    padding: 3px;
    color: #29e0f8;
    position: absolute;
    font-style: italic;
}

#social-media-buttons a i {
    left: 10%;
}

#social-media-buttons a span {
    font-size: 1.5em;
    font-weight: 600;
    left: 45%;
}

/** -------> Social Media buttons end **/
/** -------> Google Maps start **/
#location {
    padding-top: 2%;
    padding-bottom: 5%;
}

.google-maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.google-maps iframe {
    box-shadow: 0 0 12px 1.5px rgba(0, 0, 0, 0.8);
    max-width: 1000px;
    width: 70%;
    min-height: 50vh;
    background-position: center;
    border-radius: 0.5em;
}

/** -------> Google Maps end **/

/* ! Contact Page end  */